.venv/
.env
backend/.env
backend/.env.deploy.wsl
backend/.env.dev.windows
frontend/node_modules/
frontend/dist/
frontend/vite.config.js
/models/
__pycache__/
/storage/
*.pyc
.claude/
.pytest_cache/
.claude/